<div class="sign-up-body">

  <header class="main-header">Survey Goat</header>

  <h1>Sign Up</h1>

<%= form_for @author do |f| %>
  <% if @author.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @author.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-user__name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="new-user__email">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="new-user__pword">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="new user__pword">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="button"><%= f.submit %></div>
<% end %>
</div>
