<div class="wrapper">
<header>

  <div class="headerbuttons">
  <button class="pure-button" id="show">
    <span> Submission Form </span>
    <%= link_to 'Submission Form', new_submission_path(survey_id: @survey.id) %>
  </button>
  <button class="pure-button" id="show">
    <span> Edit </span>
  <%= link_to 'Edit', edit_survey_path(@survey), remote: true %>
  </button>

<h1>
  <%= @survey.title %>
</h1>
<h2>
  <%= @survey.description %>
</h2>
</header>

</p>

<% if @survey.complete? %>
  <p>Copy and paste this link: https://surveygoat.herokuapp.com
    <%= new_submission_path(survey_id: @survey.id) %>
  </p>
<% else %>
  <h3><%= "Surveys must include at least one question, and multiple
      choice questions must have at least two options." %></h3>
<% end %>

<div class="showQuestionDiv">
<% @survey.questions.each do |q| %>
  <h3>Question: <%= q.question_text %></h3>
  <p>Description: <%= q.description %></p>
  <% q.responses.each do |r| %>
    <p><%= r.response_text %></p>

  <% end  %><br>

<% end  %><br>
</div>
