

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
          Logged in as<div class="unique-login"><%= current_user.name %></div>
          <p></p>
          <div class="pure-menu-heading"></div>
          <button class="primary-button pure-button"><%= link_to 'New Survey', new_survey_path %></button>

          <div class="pure-menu pure-menu-open">
            <ul>
              <li class="pure-menu-heading"></li>
              <li><a href="#"><span class="user-label-profile"></span>Settings</a></li>
              <li><a href="#"><span class="user-label-logout"></span>Log out</a></li>
            </ul>
          </div>
          <img src="">
        </div>
    </div>



<div id="list" class="pure-u-1">
  <div class="survey-item pure-g">
      <div class="pure-u"><% @surveys.each do |survey| %>
        <div class="pure-u-3-4">
            <h5 class="survey-name"><%= survey.title %></h5>
            <h4 class="survey-subject"></h4>
            <p class="survey-desc"><%= survey.description %></p>
            <%= link_to 'Show', survey %>
        </div>
        <% end %>
      </div>
  </div>
</div>



<div id="main" class="pure-u-1">
    <div class="survey-content">
        <div class="survey-content-header pure-g">
            <div class="pure-u-1-2"></div>
