<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>


<p>Copy and paste this link:
  https://surveygoat.herokuapp.com<%= new_submission_path(survey_id: @survey.id) %></p>

<% @survey.questions.each do |q| %>
  <h3>Question: <%= q.question_text %></h3>
  <p>Description: <%= q.description %></p>
  <% q.responses.each do |r| %>
    <p><%= r.response_text %></p>
  <% end  %><br>

<% end  %><br>


<%= link_to 'Submission Form', new_submission_path(survey_id: @survey.id) %>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
