<!DOCTYPE html>
<html>
<head>
  <title>SurveyGoat</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      Logged in as <%= current_user.name %>.
      <%= button_to "Log out", sessions_log_out_path, :method => "get" %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
